@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* recipe post */

.ingredientsBar > :nth-child(1) {
  background: #8bcf69
}

.ingredientsBar > :nth-child(2) {
  background: #e6d450
}

.ingredientsBar > :nth-child(3) {
  background: #e6d450;
}

.ingredientsBar > :nth-child(4) {
  background: #f28f68;
}

.ingredientsBar > :nth-child(5) {
  background: #cf82bf;
}

.ingredientsBar > :nth-child(6) {
  background: #719fd1;
}

/* .ingredientsBar > :nth-child(7) {
  @apply bg-red-900
} */
